<html>
<head></head>
<body>
<div id="app">
    <example></example>

    <button @click="ajax">Ajax example</button>
    <div>
        <p>Ajax content:</p>
        <p v-if="isLoading">Loading...</p>
        <p v-if="ajaxContent">{{ ajaxContent }}</p>
    </div>

    <div>
        <p>Error modal</p>
        <button @click="showError(401)">Unauthenticated</button>
        <button @click="customErrorHandler">Custom error</button>

        <error-modal></error-modal>
    </div>

    <modal ref="globalModal">
        <p>Global modal content</p>
    </modal>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="dist/demo.js"></script>
</html>
